@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$mdc-typography-font-family: unquote("Roboto, sans-serif");

// This is a setup for a dark theme
// But also, I'm planning to make a file for a light theme

body {
    background-color: #44aed8;
    color: #fff;
}

$mdc-theme-primary: #44aed8;
$mdc-theme-secondary: #eec81e;

$mdc-theme-background: #004750;
$mdc-theme-surface: #004750;

$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #fff;
$mdc-theme-on-background: #fff;
$mdc-theme-on-surface: #fff;

$mdc-theme-error: rgb(224, 26, 26);

$mdc-shape-small-component-radius: 0;
$mdc-shape-medium-component-radius: 0;
$mdc-shape-large-component-radius: 0;

.mdc-card__actions {
    min-height: 0px;
    padding: 0px 8px;
    
    .mdc-button > .mdc-button__label {
        color: $mdc-theme-on-surface;
    }
}

// We don't like Svelte's hover after effect (It stays activated for ever with a little bit of opacity)
// To kill that, we set the opacity to 0
.mdc-button--unelevated.mdc-ripple-upgraded--background-focused:before {
    opacity: 0;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.mdc-ripple-upgraded::before {
    opacity: 0;
}

.mdc-text-field .mdc-text-field__input {
    caret-color: $mdc-theme-on-primary;
}

// -------------------------
// Navigation Bar Style
// -------------------------

.mdc-tab-bar {
    background-color: $mdc-theme-secondary;
    height: 48px;
}

.mdc-tab-scroller {
    width: 50vh;
    margin: auto;

    @media only screen and (max-width: 530px) {
        width: 100%;
    }
}

// The content in a Nav Bar Page
.mdc-tab__content {
    .mdc-tab__text-label {
        color: inherit;
    }

    .mdc-tab__icons {
        width: 2em;
        height: 2em;
        margin-right: 0.5em;
        color: inherit;
    }
}

// Default Colors for inactive and active
.mdc-tab > .mdc-tab__content {
    color: $mdc-theme-primary;
}

.mdc-tab--active > .mdc-tab__content {
    color: $mdc-theme-background;
}

// Fix the hover after effect
.mdc-tab__ripple.mdc-ripple-upgraded--background-focused:before {
    opacity: 0;
}

// Fix the hover after effect of Icon Button
.mdc-icon-button.mdc-ripple-upgraded--background-focused:before {
    opacity: 0;
}

.mdc-icon-button.large {
    width: 3.5em;
    height: 3.5em;
}

.mdc-icon-button.large svg {
    width: 2.2em;
    height: 2.2em;

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}