@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$mdc-typography-font-family: unquote("Roboto, sans-serif");

@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #004750;
$mdc-theme-secondary: #eec81e;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: $material-color-red-900;

$mdc-shape-small-component-radius: 0;
$mdc-shape-medium-component-radius: 0;
$mdc-shape-large-component-radius: 0;